<div class="as-search-wrapper" role="main">
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
                <div class="pd-billboard pd-category-header">
                    <div class="pd-l-plate-scale">
                        <div class="pd-billboard-background">
                            <img src="./assets/music-audio-alp-201709" alt="" width="1440" height="320"
                                data-scale-params-2="wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306"
                                class="pd-billboard-hero ir">
                        </div>
                        <div class="pd-billboard-info">
                            <h1 class="pd-billboard-header pd-util-compact-small-18">Tienda e-commerce</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="as-search-results as-filter-open as-category-landing as-desktop" id="as-search-results">

        <div id="accessories-tab" class="as-accessories-details">
            <div class="as-accessories" id="as-accessories">
                <div class="as-accessories-header">
                    <div class="as-search-results-count">
                        <span class="as-search-results-value"></span>
                    </div>
                </div>
                <div class="as-searchnav-placeholder" style="height: 77px;">
                    <div class="row as-search-navbar" id="as-search-navbar" style="width: auto;">
                        <div class="as-accessories-filter-tile column large-6 small-3">

                            <button class="as-filter-button" aria-expanded="true" aria-controls="as-search-filters"
                                type="button">
                                <h2 class=" as-filter-button-text">
                                    Smartphones
                                </h2>
                            </button>


                        </div>

                    </div>
                </div>
                <div class="as-accessories-results  as-search-desktop">
                    <div class="width:40%">
                        <div class="as-producttile-tilehero with-paddlenav " style="float:left;">
                            <div class="as-dummy-container as-dummy-img">

                                <img src="./assets/wireless-headphones" class="ir ir item-image as-producttile-image  "
                                    style="max-width: 70%;max-height: 70%;" alt="" width="445" height="445">
                            </div>

                        </div>
                        <br />
                        <div class="as-producttile-info" style="float:left;min-height: 168px;">
                            <div class="form-container-checkout">
                                <div class="images mini-gallery gal5 ">
                                    <div class="as-isdesktop with-paddlenav with-paddlenav-onhover">
                                        <div class="clearfix image-list xs-no-js as-util-relatedlink relatedlink"
                                            data-relatedlink="6|Powerbeats3 Wireless Earphones - Neighborhood Collection - Brick Red|MPXP2">
                                            <div class="as-tilegallery-element as-image-selected">
                                                <div class=""></div>
                                                <img src="{{ img }}" alt="" width="250px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="as-producttile-titlepricewraper" style="min-height: 128px;">

                                    <h3 class="as-producttile-name">
                                        <p class="as-producttile-tilelink">
                                            <span data-ase-truncate="2"> {{ title }} </span>
                                        </p>
                                    </h3>

                                    <h4>
                                        $ {{ price }}
                                    </h4>
                                    <h2>
                                        Cantidad: <b style="color: #009ee3;">
                                            {{ unit }}
                                        </b>
                                    </h2>
                                </div>
                                <form action="/api/payment/checkout" method="POST">
                                    <h3>
                                        Datos de Cliente
                                    </h3>
                                    <label for="name">Nombre(s)</label>
                                    <input type="text" name="name" placeholder="Juan" required />
                                    <label for="surname">Apellido(s)</label>
                                    <input type="text" name="surname" placeholder="Perez" required />
                                    <label for="email">Email</label>
                                    <input type="email" name="email" placeholder="ejemplo@ejemplo.com" required />
                                    <div>
                                    <label for="area_code">Codigo de area</label>
                                    <input type="number" max="99" maxlength="2" name="area_code" required />
                                    <label for="number">Telefono</label>
                                    <input type="tel" name="phone" required />
                                    </div>
                                    <h3>
                                        Datos de Domicilio
                                    </h3>
                                    <label for="street">Nombre de Calle</label>
                                    <input type="text" name="street" placeholder="Calle de Ejemplo, Ciudad Falsa" required />
                                    <label for="street_number">Número de la casa</label>
                                    <input type="number" name="street_number" placeholder="0000" required />
                                    <label for="cp">Codigo Postal</label>
                                    <input type="number" name="cp" placeholder="CP" required />
                                    <input type="hidden" name="img" value={{ img }}>
                                    <input type="hidden" name="title" value="{{ title }}">
                                    <input type="hidden" name="price" value="{{ price }}">
                                    <input type="hidden" name="unit" value="{{ unit }}">
                                    <button type="submit" class="mercadopago-button-checkout" action="/"
                                        method="post">Pagar</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<script src="https://www.mercadopago.com/v2/security.js" view="item"></script>

<script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>